* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #8FA79A;
}


/* inicio*/

header {
    width: 100%;
    height: 120px;
    background-color: black;
}

nav {
    width: 100%;
    height: 120px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu {
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: center;
}

menu a:link,
menu a:visited {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fafafa;
    text-align: center;
    text-transform: none;
    font-size: larger;
}

.sublogo {
    width: 200px;
    height: 80px;
    align-items: center;
    margin-right: 50px;
}


/*começo*/

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inicio {
    display: flex;
    height: 800px;
}

#inicio h1 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 40%;
}

#inicio p {
    width: 1150px;
    height: 250px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
    bottom: -300px;
    margin-left: -240px;
    font-size: large;
    color: #fafafa;
}

.familia {
    width: 970px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    bottom: -55px;
    margin-left: -200px;
}

.olho {
    width: 130px;
    height: 100px;
    position: absolute;
    left: 97%;
    bottom: -290px;
    margin-left: -200px;
}


/* sessão anya*/

#anya {
    height: 550px;
}

#anya h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#anya p {
    width: 450px;
    height: 20px;
    font-size: x-large;
    position: absolute;
    left: 80%;
    bottom: -500px;
    margin-left: -200px;
}

.anya-forger {
    width: 800px;
    height: 450px;
    position: absolute;
    left: 18%;
    bottom: -820px;
    margin-left: -200px;
    overflow: hidden;
    border-radius: 40px;
}


/* Loid */

#loid {
    height: 630px;
}

#loid h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: xx-large;
}

#loid p {
    width: 500px;
    height: 200px;
    font-size: x-large;
    position: absolute;
    left: 70%;
    bottom: -1300px;
    margin-left: -200px;
}

.loid-forger {
    width: 288px;
    height: 600px;
    position: absolute;
    left: 40%;
    bottom: -1550px;
    margin-left: -200px;
}

.loid-fofo {
    width: 320px;
    height: 160px;
    position: absolute;
    left: 75%;
    bottom: -1450px;
    margin-left: -200px;
    overflow: hidden;
    border-radius: 40px;
}


/*yor*/

#yor {
    height: 600px;
}

#yor h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: xx-large;
}

#yor p {
    width: 500px;
    height: 200px;
    font-size: x-large;
    position: absolute;
    left: 65%;
    bottom: -2000px;
    margin-left: -200px;
    color: #000000;
}

.yor-forger {
    width: 440px;
    height: 550px;
    position: absolute;
    left: 25%;
    bottom: -2200px;
    margin-left: -200px;
}


/*final*/

footer {
    background-color: black;
}

#spy {
    width: 550px;
    height: 300px;
}

#spy h1 {
    color: #fafafa;
    position: absolute;
    left: 53%;
    bottom: -2340px;
    margin-left: -200px;
}

#spy a:link {
    width: 200px;
    height: 50px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
    border-radius: 50px;
    color: #000000;
    text-align: center;
    text-transform: none;
    font-size: larger;
    margin-left: auto;
    position: absolute;
    left: 57%;
    bottom: -2400px;
    margin-left: -200px;
}

#spy p {
    display: flexs;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    margin-left: auto;
    font-size: large;
}

.forges {
    width: 400px;
    height: 230px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.for {
    width: 320px;
    height: 170px;
    position: absolute;
    left: 89%;
    bottom: -2450px;
    margin-left: -200px;
    overflow: hidden;
    border-radius: 40px;
}

.fundo-preto {
    width: 100%;
    height: 40px;
    background-color: black;
}